.inactive {
    *display: none;
}

div {
    /* margin: 0 20% 10% 20%; */
}

div p {
    text-align: center;
    font-size: 20px;
}

.divPrincipal{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 30px;
}

.divJugadores{
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
}
.divJugadores>div:first-child {
    width: 100%;
    border-bottom: 3px solid rgba(0,0,0,0.4);

}

.divJugadores>div{
    padding: 30px;
    width: 35%;
    margin: 15px auto;
    border: 1px solid rgba(0,0,0,0.4);
}

.nombreJugador{
    font-weight: 700;
}

.divPreguntas{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.divPreguntas > p{
    width: 500px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 28px;
    padding: 10px;
}

.containerRespuestas {
    display: grid;
    grid-gap: 20px;
    width: 700px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 125px);
    *justify-items: center;
    *align-items: center;
    margin-bottom: 2%;
}

.containerRespuestas > button{
    font-size: 22px;
}

.iconito {
    width: 30px;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}

.mat-raised-button {
    font-size: 16px;
    background-color: lightgray;
    color: #000;
    white-space: normal !important;
}

.mat-raised-button:hover {
    background-color: #B3ADAC;
    transition: 0.5s;
}

.mat-raised-button:hover p {
    transition: 0.5s;
}

.buttonNext {
    float: right;
    background-color: lightsalmon;
    display: none;
    border-radius: 5%;
}

.buttonNextBlock {
    display: block !important;
    padding: 10px 30px;
    width: 30%;
    font-size: 24px;
}

.correctAnswer {
    background-color: lightgreen;
}
.correctAnswer:hover {
    background-color: green;
}

.wrongAnswer {
    background-color: lightcoral;
}
.wrongAnswer:hover {
    background-color: red;
}

.disabled-button {
    pointer-events: none;
    background-color: lightgray !important;
}

.divFinal{
    text-align: center;

}

.tituloPuntuacion{
    text-align: center;
    width: 40%;
    font-size: 40px;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 3px solid rgba(0,0,0,0.4);
}

.jugadorFinal{
    width: 40%;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.4);
    margin-top: 50px;

}

.volverAJugar{
    text-align: center;    
}

.volverAJugar > a > button{
    width: 200px;
    padding: 10px;
    background-color: antiquewhite;
    margin: 20px;
}

.mat-raised-button.mat-button-disabled.mat-button-disabled.wrongAnswer {
    background-color: lightcoral !important;
    
}
.mat-raised-button.mat-button-disabled.mat-button-disabled.correctAnswer {
    background-color: lightgreen !important;
}
.mat-raised-button.mat-button-disabled.mat-button-disabled {
    color: #000 !important;
}

.tituloPregunta {
    line-height: 40px;
}

.jugadorDelTurno {
    animation: changingColor 3s infinite;
}

.box {
    border-radius: 10px;
}

@keyframes changingColor {
    0% {
        background: #fff;
    }
    50% {
        background: lightsteelblue;
    }
    100% {
        background: #fff;
    }
}

@media screen and (max-width: 1100px) {
    .divPrincipal {
        flex-direction: column;

    }

    .divJugadores{
        margin: auto;
        width: 80%;
    }
  } 

@media screen and (max-width: 767px) {
    .containerRespuestas{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 125px);
        width: 70%;
        margin: auto !important;
    }

    .divPreguntas > p{
        width: 80%;
        font-size: 20px;

    }

    .divJugadores > div{
        width: 80%;
    }

} 