
<!-- <div *ngFor="let pregunta of preguntas"> 
    <p>{{pregunta.pregunta}}</p>
</div> -->



<!-- Form que muestra el Quiz -->
<div class="inactive" *ngIf="!quizCompleted">
    <p *ngIf="preguntas[indexQuiz]">{{ preguntas[indexQuiz].pregunta }}</p>
    <br />
    <div class="containerRespuestas">
        <button (click)="elegirRespuesta(respuesta, respuestaUnica)" mat-raised-button
            *ngFor="let respuesta of respuestaUnica; index as i" class="opcion"
            [ngClass]="{'correctAnswer': respuesta.respuesta == respuestaValidaNombre, 'wrongAnswer': respuestaValidaNombre != ''&& respuesta.respuesta == respuestaClicada && respuesta.respuesta != respuestaValidaNombre}"
            id="opcion{{i+1}}" value="{{ respuesta.valida }}" [disabled]="respuestaClicada != ''">
            {{respuesta.respuesta}}</button>
    </div>
    <div class="containerButtonNext">
        <button (click)="avanzar()" mat-fab id="buttonNext" class="buttonNext"
            [ngClass]="{'buttonNextBlock': respuestaClicada != ''}">
            <span class="material-icons">
                arrow_forward_ios
                </span>
        </button>
    </div>

    Aciertos: {{aciertos}}
    
</div>




<!-- Div que se muestra cuando acaba el Quiz -->
<!-- <div *ngIf="quizCompleted">
    <h2>Quiz completado. Has acertado {{aciertos}} respuestas correctas.</h2>
</div> -->