
.inactive {
    *display: none;
}

div p {
    text-align: center;
    font-size: 20px;
}

.divPrincipal{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 30px;
}

.divJugadores{
    display: flex;
    flex-direction: row;
    width: 30%;
    flex-wrap: wrap;
    align-items: center;
}

.divJugadores>div:first-child {
    width: 100%;
    border-bottom: 3px solid rgba(0,0,0,0.4);
    justify-content: center;

}

.divJugadores>div:first-child>p{
    font-size: 22px;
    font-weight: 500;

}

.divJugadores>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    flex: 80%;
    width: 35%;

    margin: 15px auto;
    border: 1px solid rgba(0,0,0,0.4);
}

.divJugadores>div>div{
    flex: 30%;
}

.divJugador {
    min-width: 50%;
}

.nombreJugador{
    font-weight: 700;
    padding: 20px;
    font-size: 30px !important;
}

.divPreguntas{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 40px;
}

.divPreguntas > p{
    width: 500px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 28px;
    padding: 10px;
}

.divPreguntas .mat-icon {
    height: 35px;
}

.containerRespuestas {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 125px);
    margin-bottom: 2%;
}

.containerRespuestas > button{
    font-size: 22px;
    background-color: #D8D7FF;
    transition: transform .2s;
}

.containerRespuestas > button:hover {
    background-color: #6C6BE3;
    transform: scale(1.02);
}

.iconito {
    width: 50px;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
}

.mat-raised-button {
    font-size: 16px;
    background-color: lightgray;
    color: #000;
    white-space: normal !important;
}

.mat-raised-button:hover {
    background-color: #B3ADAC;
    transition: 0.5s;
}

.mat-raised-button:hover p {
    transition: 0.5s;
}

.buttonNext {
    float: right;
    background-color: lightsalmon;
    display: none;
    border-radius: 5%;
}

.buttonNextBlock {
    display: block !important;
    padding: 10px 30px;
    width: 30%;
    font-size: 24px;
}

.correctAnswer {
    background-color: lightgreen;
}
.correctAnswer:hover {
    background-color: green;
}

.wrongAnswer {
    background-color: lightcoral;
}
.wrongAnswer:hover {
    background-color: red;
}

.winner {
    background-color: lightgreen;
}

.disabled-button {
    pointer-events: none;
    background-color: lightgray !important;
}

.divFinal{
    text-align: center;
}

.divFinal .jugadorFinal p {
    font-size: 36px !important;
    margin-bottom: 15px;
}

.tituloPuntuacion{
    text-align: center;
    width: 40%;
    font-size: 40px;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 3px solid rgba(0,0,0,0.4);
}

.jugadorFinal{
    width: 40%;
    margin: auto;
    padding: 1%;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 100px;
    box-shadow: 0px 0px 15px 3px #888888;
    margin-top: 50px;

}

.volverAJugar{
    text-align: center;    
}

.volverAJugar > a > button{
    width: 200px;
    padding: 10px;
    background-color: #6C6BE3;
    color: #fff;
    border-radius: 10px;
    margin: 20px;
}

.mat-raised-button.mat-button-disabled.mat-button-disabled.wrongAnswer {
    background-color: lightcoral !important;
    
}
.mat-raised-button.mat-button-disabled.mat-button-disabled.correctAnswer {
    background-color: lightgreen !important;
}
.mat-raised-button.mat-button-disabled.mat-button-disabled {
    color: #000 !important;
}

.material-icons{
    font-family: 'Material Icons' !important;
}

.material-icons a{
    font-family: 'Material Icons' !important;
}
.tituloPregunta {
    line-height: 40px;
}

.jugadorDelTurno {
    animation: changingColor 3s infinite;
}

.box {
    border-radius: 10px;
}

.points {
    border-radius: 30%;
    padding: 3px;
    font-size: 40px;
}

.starsPuntuacion{
    font-size: 40px !important;
    vertical-align: bottom !important;
}

.goalContainer {
    width: 50% !important;
}

.nombreJugador{
    line-height: 30px;
}

.star-icon {
    vertical-align: text-bottom;
    color: #6C6BE3;
    font-size: 30px;
    padding: 0 5px;
}

.box p {
    margin: 0 !important;
}

.img-pregunta {
    margin: 0 auto;
    max-width: 200px;
    max-height: 150px;
}

.link-icon {
    margin: 0 auto;
}

.link-icon a {
    text-decoration: none;
    color:#000;
    font-size: 40px;
}

.link-icon:hover {
    transform: scale(1.5);
}

.comenzarPartida {
    position: absolute;
    background-color: Rgba(255,255,255,0.8);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pure-material-button-contained {
    z-index: 11;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 80px;
    vertical-align: middle;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: #6C6BE3;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 50px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}

@keyframes changingColor {
    0% {
        background: #fff;
    }
    50% {
        background: #D8D7FF;
    }
    100% {
        background: #fff;
    }
}


@media screen and (max-width: 1100px) {
    .divPrincipal {
        flex-direction: column-reverse;

    }

    .divJugadores{
        margin: auto;
        width: 80%;
    }
  } 

@media screen and (max-width: 767px) {
    .containerRespuestas{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 125px);
        width: 70%;
        margin: auto !important;
    }

    .containerRespuestas p {
        font-size: 14px;
    }

    .divPreguntas {
        width: unset;
    }

    .divPreguntas > p{
        width: 80%;
        font-size: 18px;

    }

    .divJugadores > div{
        width: 80%;
    }

    .buttonNext {
        margin-top: 5%;
    }

    .buttonNext .avanzarText{
        display: none;
    }

}

@media screen and (max-width: 520px) {
    .tituloPuntuacion {
        font-size: 25px;
    }

    .jugadorFinal {
        border-radius: 25px;
    }

    .jugadorFinal p {
        margin-top: 10%;
    }

    .pure-material-button-contained {
        font-size: 18px;
        height: 40px;
    }
}
