.juegos{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 45px;
}

.juego{
    flex-direction: column;
    width: 21%;
    min-height: 400px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.4);
}

.juego img{
    min-width: 100%;
    min-height: 350px;
    margin: 0;

}

.juego h2{
    margin: 0;
    padding: 10px;
    /* border-bottom: 1px black solid; */
    /* background-color: tomato; */
}

.juego a{
    text-decoration: none;
    text-align: center;
}


.juego a button{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;

}

.juego a button:hover{
    background-color: #D8D7FF;
}
