
<div id="titulo">
    <h2>{{tituloJuego}}</h2>
</div>
<!-- <input [(ngModel)]='numeroJugadores' 
type="text" 
class="form-control" 
placeholder="" 
aria-label="" 
aria-describedby="basic-addon1"> -->
<!-- <input type="text" name="numeroJugadores" value="Name"> -->

<div class="containerElectionPlayers">
    <div>
        <div class="containerPlayers">
            <label for="players">Número de jugadores</label>
            <div>
                <select [(ngModel)]="selectedOption" (change)="generarJugadores()" name="players" id="players">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="containerRondas">
            <label for="rondas">Ganador al mejor de:</label>
            <div>
                <select [(ngModel)]="numeroRondas" (change)="asignarRondas()" name="rondas" id="rondas">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="containerInputsPlayers" *ngIf="selectedOption">
            <div *ngFor="let player of pruebaService.numeroJugadores; index as i" class="inputPlayerContainer">
                <label for="player{{player.numJugador}}">Nombre de jugador {{player.numJugador}}: </label>
                <input type="text" id="player{{player.numJugador}}" [(ngModel)]="player.nombreJugador">
                <img class="iconito" src="{{player.iconoJugador}}">
            </div>
        </div>

    </div>
</div>

<div id="botonContainer">
    <a (click)="checkName()" id="botonEmpezar" style="cursor: pointer;"><button [ngClass]="{'error': showError}">Empezar
            Juego</button></a>
    <!-- [routerLink]="['/juego', idJuego]" -->
</div>
