/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Montserrat' !important;
    background-color: rgba(233,233,255,0.2);

}

body *{
    font-family: 'Montserrat' !important;
}
html, body { height: 100%; }

html, body { height: 100%; }

.desactivarScroll {
    overflow-y: hidden !important;
}